<nav class="navbar navbar-expand-lg navbar-gray bg-light" style="margin:24px 0;">
    <a class="navbar-brand" href="javascript:void(0)"><img width="200"  src="../../../assets/keyrusLogo.png" alt=""></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navb"> 
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0 header">
        <input class="form-control mr-sm-2" type="text" placeholder="Search your products">
        <button class="btn btn-primary my-4 my-sm-0" type="button">Search</button>
      </form>
    </div>
  </nav>