<app-header></app-header>
<section class="banner">
  <div class="container">
      <div class="row" >
          <div class="col-sm-4 col text-center text-primary">
             <img src="{{cheapperProduct.imageUrl}}" alt="{{cheapperProduct.code}}" >
             <h3>{{cheapperProduct.name}}</h3>
            <button class="btn btn-warning ml-5" (click)="goDetailProduct(cheapperProduct)"  [routerLink]="['/product/']"  ><i class="fa fa-search"></i> See more</button>
            <button class="btn btn-primary ml-5" (click)="buyProduct(product)"  [routerLink]="['/product/']"  ><i class="fas fa-cart-plus"></i> Add to cart</button>
             <h1>{{cheapperProduct.price.currencyIso}} {{cheapperProduct.price.formattedValue}}</h1>
           </div>
          <div class="col-sm-6 banner-text text-white">
             <h2>{{cheapperProduct.summary}}</h2>
             <h6 class="text-danger">manufacturer: {{cheapperProduct.manufacturer}}</h6>
           </div>
      </div>
  </div> 

</section>

<div  class="carousel slide carousel-inner" >
  <ngb-carousel (slide)="onSlide($event)" [showNavigationArrows]="true" [showNavigationIndicators]="true" 
  interval="5000" [keyboard]="true"  [pauseOnHover]="true" [wrap]="true" [activeId]="'slide2'">
    <ng-template ngbSlide  *ngFor="let product of listProducts; let i = index" id="slide{{i}}" >
      <div class="picsum-img-wrapper">
        <img src="{{getImage(product)}}" alt="slide">
      </div>
      <div class="carousel-caption text-warning">
        <h3>{{product.name}}</h3>
        <p>{{product.summary}}</p>
      </div>
    </ng-template>
   
  </ngb-carousel>
</div>


<div class="row"  >


  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of listProducts; let i = index">
    <div class="card h-100">
      <div class="center text-center" style="min-height: 210px;">
        <img class="card-img-top center" style="max-height: 210px; max-width: 210px;" src="{{getImage(product)}}" alt="{{product.code}}" >
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{product.name}}</a>
        </h4>
        <h5>{{product.price.currencyIso}} {{product.price.formattedValue}}</h5>
        <p class="card-text">{{product.summary}}</p>
        
        <button [hidden]="!isToSell(product)" class="btn btn-primary ml-5" (click)="buyProduct(product)"  [routerLink]="['/product/']"  ><i class="fas fa-cart-plus"></i> Add to cart</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>

</div>

