.carousel-inner img {
    width: 80%;
    height: 600px;
    padding: 0;
    border: 0;
    font-size: 100%;
    align-self: auto;
    margin-left: 10%;
    font: inherit;
    vertical-align: baseline;
}
