.carousel-inner img {
    width: 80%;
    height: 600px;
    padding: 0;
    border: 0;
    font-size: 100%;
    align-self: auto;
    margin-left: 10%;
    font: inherit;
    vertical-align: baseline;
}

.banner {
    position: relative;
    background: coral;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    padding: 20px 0 20px;
}

.banner-text {
    padding-left: 50px;
}

.gallery {
    padding-left: 50px;
    padding-right: 50px;
}
.card-body-align{
    align-self: botom;
}
